* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    
    height: 100vh;
    width:600px;
    background-color: #f0f4f8;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

h2 {
    margin-top: 20px;
    color: #333;
    font-weight: normal;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
}

input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#convertedValue {
    font-weight: bold;
    color: #4CAF50;
}
